<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="../../css/admin/style.css">
    <link rel="stylesheet" href="../../css/admin/product.css">
</head>

<body>

    <header>
        Admin Dashboard
    </header>

    <nav>
        <a href="/admin/edit">จัดการผู้ดูแล</a>
        <a href="/admin/customer">ข้อมูลลูกค้า</a>
        <a href="/admin/product">รายการสินค้า</a>
        <a href="/admin/category">หมวดหมู่สินค้า</a>
        <a href="/admin/brand">แบรนด์</a>

        <form action="/logout" method="POST" class="logout-form">
            <button class="logout-btn" onclick="alert('คุณได้ออกจากระบบแล้ว')" type="submit">ออกจากระบบ</button>
        </form>
    </nav>

    <div class="content">

        <h1>รายการสินค้า</h1>

        <form class="search-bar" action="/admin-search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาสินค้า..." value="<%= query %>" />
            <input type="hidden" name="table" value="Product" />
            <button type="submit">ค้นหา</button>
        </form>


        <div class="action-bar">
            <a href="/add/product" class="btn create-btn">เพิ่ม</a>
        </div>

        <table>
            <tr>
                <th>รหัสสินค้า</th>
                <th>แบรนด์</th>
                <th>ชื่อสินค้า</th>
                <th>หมวดหมู่</th>
                <th>ราคา/หน่วย</th>
                <th>จำนวนคงเหลือ</th>
                <th>จัดการ</th>
            </tr>

            <% if (product.length> 0) { %>
                <% product.forEach(product=> { %>
                    <tr>
                        <td>P-<%= String(product.product_ID).padStart(3, '0' ) %></td>
                        <td>
                            <% brand.forEach(brand=> { %>
                                <% if (brand.brand_ID==product.brand_ID) { %>
                                    <%= brand.name %>
                                <% } %>
                            <% }) %>
                        </td>
                        <td><%= product.name %></td>
                        <td>
                            <% category.forEach(category=> { %>
                                <% if (category.category_ID==product.category_ID) { %>
                                    <%= category.name %>
                                <% } %>
                            <% }) %>
                        </td>
                        <td><%= parseFloat(product.unitPrice).toFixed(2) %></td>
                        <td><%= product.stockQty %></td>
                        <td>
                            <a href="editcategory.html">แก้ไข</a> |
                            <a href="#" onclick="confirmDelete('<%= product.product_ID %>', '<%= product.name %>')">ลบ</a>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="7">ไม่พบข้อมูลสินค้า "<%= query %>"</td>
                </tr>
            <% } %>
        </table>
        <br>
    </div>

    
    <script>
        function confirmDelete(Id, name) {
            if (confirm(`ยืนยันการลบหมวดหมู่ ${name}`)) {
                window.location.href = `/delete/product/${Id}`;
            }
        }
    </script>

</body>

</html>