<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Report</title>
    <link rel="stylesheet" href="../../css/admin/style.css">
    <link rel="stylesheet" href="../../css/admin/order.css">
</head>

<body>

    <header>
        Admin Dashboard
    </header>

    <nav>
        <a href="/admin/manage">จัดการผู้ดูแล</a>
        <a href="/admin/customer">ข้อมูลลูกค้า</a>
        <a href="/admin/product">รายการสินค้า</a>
        <a href="/admin/category">หมวดหมู่สินค้า</a>
        <a href="/admin/brand">แบรนด์</a>

        <form action="/logout" method="POST" class="logout-form">
            <button class="logout-btn" onclick="alert('คุณได้ออกจากระบบแล้ว')" type="submit">ออกจากระบบ</button>
        </form>
    </nav>

    <div class="content">
        <h1>รายงานคำสั่งซื้อ</h1>

        <form class="search-bar" action="/admin-search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาคำสั่งซื้อ" />
            <input type="date" name="orderDate" placeholder="ค้นหาตามวันที่" />
            <input type="hidden" name="table" value="Order" />
            <button type="submit">ค้นหา</button>
        </form>

        <table>
            <tr>
                <th>รหัสคำสั่งซื้อ</th>
                <th>วันที่</th>
                <th>จำนวนสินค้า</th>
                <th>ราคารวม (บาท)</th>
                <th>ดูรายละเอียด</th>
            </tr>
        
            <% orders.forEach(order => { %>
                <tr>
                    <td>D-<%= String(order.order_ID).padStart(4, '0') %></td>
                    <td><%= order.orderDate %></td>
                    <td><%= orders.length %></td>
                    <td><%= parseInt(order.totalPrice).toFixed(2) %></td>
                    <td>
                        <form action="/admin-viewOrderDetails" method="GET">
                            <input type="hidden" name="orderID" value="<%= order.orderID %>">
                            <button type="submit" class="btn">ดูรายละเอียด</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>

</body>

</html>
