<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/customer/account.css">
    <link rel="shortcut icon" href="../img/logo/favico.png" type="image/x-icon">
    <title>บัญชีผู้ใช้</title>
</head>

<body>
    <header>
        <a href="/" class="logo"><img src="../img/logo/logo_store.png" alt="logo"></a>

        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาสินค้า..." />
            <button type="submit">ค้นหา</button>
        </form>

        <nav>
            <div><a href="/">หน้าแรก</a></div>
            <div class="dropdown">
                <a href="/category" class="dropbtn">หมวดหมู่</a>
                <div class="dropdown-content">
                    <% for(var i=0; i< category.length; i++) { %>
                        <a href="/category/<%=i+1%>">
                            <%= category[i].name %>
                        </a>
                        <% } %>
                </div>
            </div>
            <div><a href="/cart">ตะกร้า</a></div>
            <% if (loginSession) { %>
                <div><a href="/account">ข้อมูลส่วนตัว</a></div>
                <% } else { %>
                    <div><a href="/signin">เข้าสู่ระบบ</a></div>
                    <% } %>
        </nav>
    </header>


    <div class="container">
        <h1 class="section-title">ข้อมูลบัญชีของคุณ</h1>
        <div class="row">
            <div class="account-info">
                <div class="text">
                    <h3>ข้อมูลส่วนตัว</h3>
                    <p><strong>ชื่อผู้ใช้ : </strong> <span id="username">
                            <%= userInfo.username %>
                        </span></p>
                    <p><strong>ชื่อ-นามสกุล : </strong> <span id="username">
                            <%= customerInfo.name %>
                        </span></p>
                    <p><strong>อีเมล : </strong> <span id="email">
                            <%= userInfo.email %>
                        </span></p>
                    <p><strong>ที่อยู่ : </strong> <span id="address">
                            <%= customerInfo.address %>
                        </span></p>
                    <p><strong>เบอร์โทรศัพท์ : </strong> <span id="phone">
                            <%= customerInfo.phone %>
                        </span></p>
                </div>
            </div>
            <div class="account-actions">
                <form action="/my-orders" method="GET">
                    <button class="btn" type="submit">ดูรายการสั่งซื้อ</button>
                </form>

                <form action="/edit-info" method="GET">
                    <button class="btn" type="submit">แก้ไขข้อมูล</button>
                </form>

                <form action="/change-password" method="GET">
                    <button class="btn" type="submit">เปลี่ยนรหัสผ่าน</button>
                </form>

                <form action="/logout" method="POST">
                    <button class="btn" id="logout" onclick="alert('คุณได้ออกจากระบบแล้ว')"
                        type="submit">ออกจากระบบ</button>
                </form>
            </div>
        </div>
    </div>

</body>

<footer>
    &copy; 2025 DIY Computer | สงวนลิขสิทธิ์
</footer>

</html>