<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/cart.css">
    <link rel="shortcut icon" href="../img/favico.png" type="image/x-icon">
    <title>ตะกร้าสินค้า</title>
</head>

<body>
    
    <header>
        <a href="/" class="logo"><img src="../img/logo_store.png" alt="logo"></a>

        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาสินค้า..." />
            <button type="submit">ค้นหา</button>
        </form>

        <nav>
            <div><a href="/">หน้าแรก</a></div>
            <div class="dropdown">
                <a href="/category" class="dropbtn">หมวดหมู่</a>
                <div class="dropdown-content">
                    <% for(var i=0; i< category.length; i++) { %>
                        <a href="/category/<%=category[i].category_name%>"><%= category[i].name %></a>
                    <% } %>
                </div>
            </div>
            <div><a href="/cart">ตะกร้า</a></div>
            <% if (loginSession) { %>
                <div><a href="/account">ข้อมูลส่วนตัว</a></div>
            <% } else { %>
                <div><a href="/signin">เข้าสู่ระบบ</a></div>
            <% } %>
        </nav>
    </header>


    <div class="container">
        <h1 class="section-title">ตะกร้าสินค้า</h1>
        <% if (cartItem.length > 0) { %>
            <div class="cart-items">
                <table class="data">
                    <thead>
                        <tr>
                            <th></th>
                            <th id="name">ชื่อสินค้า</th>
                            <th>ราคา/ชิ้น</th>
                            <th>จำนวน</th>
                            <th id="price">ราคารวม</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let totalPrice = 0; %>
                        <% cartItem.forEach(product => { %>
                            <% 
                                const brandName = brands.find(brand => brand.brand_ID == product.Product.brand_ID); 
                                const itemTotal = product.quantity * product.Product.unitPrice;
                                totalPrice += itemTotal;
                            %>
                            <tr id="row-<%= product.Product.product_ID %>">
                                <td>
                                        <img src="../../img/<%= product.Product.category_ID %>/<%= product.Product.imgName %>" alt="Product Image" class="cart-item-image">
                                    </a>
                                </td>
                                <td class="inRow">
                                    <p><%= brandName ? `${brandName.name} ${product.Product.name}` : product.Product.name %></p>
                                </td>
                                <td><p class="price-pcs" id="price-<%= product.Product.product_ID %>"><%= parseFloat(product.Product.unitPrice).toFixed(2) %></p></td>
                                <td class="edit">
                                    <button type="button" onclick="updateQuantity('<%= product.Product.product_ID %>', -1)">-</button>
                                    <span id="quantity-<%= product.Product.product_ID %>"><%= product.quantity %></span>
                                    <button type="button" onclick="updateQuantity('<%= product.Product.product_ID %>', 1)">+</button>
                                </td>
                                <td><h3><span id="total-<%= product.Product.product_ID %>"><%= itemTotal.toFixed(2) %></span></h3></td>
                                <td>
                                    <form action="/deleteItem" method="POST">
                                        <input type="hidden" name="id" value="<%= cartId %>">
                                        <input type="hidden" name="item" value="<%= product.Product.product_ID %>">
                                        <button id="del-Btn" type="submit">X</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <div class="cart-summary">
                    <div style="display: flex;"><p>ราคารวมทั้งหมด&nbsp;</p><h3><span id="all"><%= totalPrice.toFixed(2) %></span></h3><p>&nbsp;บาท</p></div>
                    <form action="/checkOut" method="POST">
                        <input type="hidden" name="cart" value="<%= JSON.stringify(cartItem) %>">
                        <button class="checkOut" type="submit">ชำระเงิน</button>
                    </form>
                </div>
            </div>
        <% } else { %>
            <div style="margin-top: 50px;" class="cart-summary">
                <div style="display: flex;"><p>ราคารวมทั้งหมด&nbsp;</p><h3>0.00</h3><p>&nbsp;บาท</p></div>
                <h2>ไม่มีสินค้าในตะกร้า</h2>
            </div>
        <% }%>
    </div>


    <footer>
        &copy; 2025 The Computer Store | Copyright
    </footer>


    <script>
        function debounce(func, delay) 
        {
            let timer;
            return function (...args) {
                clearTimeout(timer);
                timer = setTimeout(() => func.apply(this, args), delay);
            };
        }

        const updateQuantity = debounce(async function (productId, change) 
        {
            const quantityElement = document.getElementById(`quantity-${productId}`);
            const totalElement = document.getElementById(`total-${productId}`);
            let quantity = parseInt(quantityElement.innerText);

            quantity += change;
            if (quantity < 1) quantity = 1;

            quantityElement.innerText = quantity;

            const price = parseFloat(document.getElementById(`price-${productId}`).innerText);
            totalElement.innerText = (price * quantity).toFixed(2) + " บาท";

            updateTotalPrice();

            try {
                await fetch(`/updateQty`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        cartId: "<%= cartId %>",
                        productId: productId,
                        quantity: quantity
                    }),
                });
                console.log("อัปเดตสำเร็จ");
            } 
            catch (error) {
                console.error('Error:', error);
            }
        }, 800);

        function updateTotalPrice() 
        {
            let totalPrice = 0;
            document.querySelectorAll('[id^="total-"]').forEach(totalElement => {
                totalPrice += parseFloat(totalElement.innerText.replace(' บาท', ''));
            });
            
            document.getElementById('all').innerText = totalPrice.toFixed(2) + " บาท";
        }
    </script>

</body>

</html>
