<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../img/logo/favico.png" type="image/x-icon">
    <title>The Computer Store</title>
</head>

<body>
    <header>
        <a href="/" class="logo"><img src="../img/logo/logo_store.png" alt="logo"></a>

        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาสินค้า..." />
            <button type="submit">ค้นหา</button>
        </form>

        <nav>
            <div><a href="/">หน้าแรก</a></div>
            <div class="dropdown">
                <a href="/category" class="dropbtn">หมวดหมู่</a>
                <div class="dropdown-content">
                    <% for(var i=0; i< category.length; i++) { %>
                        <a href="/category/<%=category[i].name%>"><%= category[i].name %></a>
                    <% } %>
                </div>
            </div>
            <div><a href="/cart">ตะกร้า</a></div>
            <% if (loginSession) { %>
                <div><a href="/account">ข้อมูลส่วนตัว</a></div>
            <% } else { %>
                <div><a href="/signin">เข้าสู่ระบบ</a></div>
            <% } %>
        </nav>
    </header>


    <div class="banner"></div>


    <div class="container">
        <h1 class="section-title">สินค้าทั้งหมด</h1>

        <div class="product-grid">
            <% for(var i=0; i< products.length; i++) { %>
                <div class="product-card">
                    <% var brand %>

                    <img src="<%= products[i].img_url %>" alt="<%= products[i].name %>">
                    <div class="product-info">
                        <% for(var k=0; k< brands.length; k++) { %>
                            <% if (products[i].brand_ID == brands[k].brand_ID) { %>
                                <h3>
                                    <% brand = brands[k].name %>
                                    <%= brands[k].name %>
                                    <%= products[i].name %>
                                </h3>
                            <% } %>
                        <% } %>

                        <p>ราคา <%= products[i].unitPrice %> บาท</p>

                        <div class="btn-product">
                            <form action="getProduct" method="POST">
                                <button class="btn" type="submit">เพิ่มลงตะกร้า</button>
                            </form>

                            <form action="/detail" method="GET">
                                <input type="hidden" name="brand" value="<%= brand %>">
                                <input type="hidden" name="Id" value="<%= products[i].product_ID %>">

                                <button class="btn" type="submit">รายละเอียด</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

</body>

<footer>
    &copy; 2025 DIY Computer | สงวนลิขสิทธิ์
</footer>

</html>