<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/customer/orders.css">
    <link rel="shortcut icon" href="../img/favico.png" type="image/x-icon">
    <title>รายการคำสั่งซื้อ</title>
</head>

<body>

    <header>
        <a href="/" class="logo"><img src="../img/logo_store.png" alt="logo"></a>

        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาสินค้า..." />
            <button type="submit">ค้นหา</button>
        </form>

        <nav>
            <div><a href="/">หน้าแรก</a></div>
            <div class="dropdown">
                <a href="/category" class="dropbtn">หมวดหมู่</a>
                <div class="dropdown-content">
                    <% for(var i=0; i< category.length; i++) { %>
                        <a href="/category/<%=i+1%>"><%= category[i].name %></a>
                    <% } %>
                </div>
            </div>
            <div><a href="/cart">ตะกร้า</a></div>
            <div><a href="/account">ข้อมูลส่วนตัว</a></div>
        </nav>
    </header>


    <div class="container">
        <h1 class="section-title">รายการคำสั่งซื้อ</h1>
        <div class="orders-list">
            <% if (orders.length > 0) { %>
                <% var i = 1 %>
                <% orders.forEach(order => { %>
                    <div class="order-card">
                        <div>
                            <h3>คำสั่งซื้อที่ <%= i++ %></h3>
                            <p>วันที่สั่งซื้อ : <%= order.orderDate %></p>
                            <p><a href="/order/<%= order.order_ID %>">ดูรายละเอียด</a></p>
                        </div>
                        <p class="status">รวมคำสั่งซื้อ ฿<strong><%= parseFloat(order.totalAmount).toFixed(2) %></strong></p>
                    </div>
                <% }); %>
            <% } else { %>
                <p>คุณไม่มีรายการคำสั่งซื้อ</p>
            <% } %>
        </div>
    </div>


    <footer>
        &copy; 2025 DIY Computer | สงวนลิขสิทธิ์
    </footer>

</body>

</html>
