<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/customer/detail.css">
    <link rel="shortcut icon" href="../img/_logo/favico.png" type="image/x-icon">
    <title>รายละเอียดสินค้า</title>
</head>

<body>

    <header>
        <a href="/" class="logo"><img src="../img/logo_store.png" alt="logo"></a>

        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาสินค้า..." />
            <button type="submit">ค้นหา</button>
        </form>

        <nav>
            <div><a href="/">หน้าแรก</a></div>
            <div class="dropdown">
                <a href="/category" class="dropbtn">หมวดหมู่</a>
                <div class="dropdown-content">
                    <% for(var i=0; i< category.length; i++) { %>
                        <a href="/category/<%=category[i].category_name%>"><%= category[i].name %></a>
                    <% } %>
                </div>
            </div>
            <div><a href="/cart">ตะกร้า</a></div>
            <% if (loginSession) { %>
                <div><a href="/account">ข้อมูลส่วนตัว</a></div>
            <% } else { %>
                <div><a href="/signin">เข้าสู่ระบบ</a></div>
            <% } %>
        </nav>
    </header>


    <div class="container">
        <h1 class="section-title">รายละเอียดสินค้า</h1>

        <% products.forEach(item => { %>
            <% if (item.product_ID == Id) { %>
                
                <div class="product-details">
                    <div class="product-image">
                        <img src="../../img/<%= item.category_ID %>/<%= item.imgName %>" alt="Product Image" />
                    </div>

                    <div class="product-info">
                        <h3><%= brand %> <%= item.name %></h3>

                        <% category.forEach(category => { %>
                            <% if (category.category_ID == item.category_ID) { %>
                                <p>ประเภท : <%= category.name %></p>
                            <% } %>
                        <% }); %>

                        <b><p>ราคา <%= item.unitPrice %> บาท</p></b>

                        <h4>รายละเอียด:</h4>
                        <ul>
                            <li><strong>-</strong></li>
                            <li><strong>-</strong></li>
                            <li><strong>-</strong></li>
                            <li><strong>-</strong></li>
                            <li><strong>-</strong></li>

                        <form action="/getProduct" method="POST"">
                            <input type="hidden" name="url" value="/detail?brand=<%= brand %>&Id=<%= Id %>">
                            <input type="hidden" name="Id" value="<%= products[i].product_ID %>">
                            <button class="btn" type="submit">เพิ่มลงตะกร้า</button>
                        </form>
                    </div>
                </div>
                
            <% } %>
        <% }); %>
        
    </div>


    <footer>
        &copy; 2025 The Computer Store | Copyright
    </footer>
    
</body>

</html>


