<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../img/favico.png" type="image/x-icon">
    <title>The Computer Store</title>
</head>

<body>

    <header>
        <a href="/" class="logo"><img src="../img/logo_store.png" alt="logo"></a>

        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="ค้นหาสินค้า..." />
            <button type="submit">ค้นหา</button>
        </form>

        <nav>
            <div><a href="/">หน้าแรก</a></div>
            <div class="dropdown">
                <a href="/category" class="dropbtn">หมวดหมู่</a>
                <div class="dropdown-content">
                    <% category.forEach(cat => { %>
                        <a href="/category/<%= cat.category_name %>"><%= cat.name %></a>
                    <% }) %>
                </div>
            </div>
            <div><a href="/cart">ตะกร้า</a></div>
            <% if (loginSession) { %>
                <div><a href="/account">ข้อมูลส่วนตัว</a></div>
            <% } else { %>
                <div><a href="/signin">เข้าสู่ระบบ</a></div>
            <% } %>
        </nav>
    </header>


    <div class="container">
        <% if (typeof query !== 'undefined') { %>
            <h1 class="section-title">สินค้าสำหรับคำค้นหา "<%= query %>"</h1>

            <% let brand = '' %>
            <div class="product-grid">
                <% products.forEach(product => { %>
                    <div class="product-card">

                        <div class="borderImg"><img src="../../img/<%= product.category_ID %>/<%= product.imgName %>" alt="<%= product.name %>"></div>
                        
                        <div class="product-info">
                            <% brands.forEach(brandItem => { %>
                                <% if (product.brand_ID == brandItem.brand_ID) { %>
                                    <h4>
                                        <% brand = brandItem.name %>
                                        <%= brandItem.name %>
                                        <%= product.name %>
                                    </h4>
                                <% } %>
                            <% }) %>

                            <p>ราคา <%= product.unitPrice %>.-</p>
                            <div class="btn-product">
                                <form action="/getProduct" method="POST">
                                    <input type="hidden" name="url" value="/search/<%= product.category_ID %>">
                                    <input type="hidden" name="Id" value="<%= product.product_ID %>">
                                    <button class="btn" type="submit">เพิ่มลงตะกร้า</button>
                                </form>
    
                                <form action="/detail" method="GET">
                                    <input type="hidden" name="brand" value="<%= brand %>">
                                    <input type="hidden" name="Id" value="<%= product.product_ID %>">
                                    <button class="btn" type="submit">รายละเอียด</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

        <% } %>
    </div>

    
    <footer>
        &copy; 2025 The Computer Store | Copyright
    </footer>

</body>

</html>